@font-face {
  font-family: Pacifico-Regular;
  src: url(../Fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Palanquin_Dar_Bold;
  src: url(../Fonts/Palanquin_Dark/PalanquinDark-Bold.ttf);
}
@font-face {
  font-family: Palanquin_Dar_Regular;
  src: url(../Fonts/Palanquin_Dark/PalanquinDark-Regular.ttf);
}
body {
  font-family: Palanquin_Dar_Regular;
}
h1 {
  font-family: Palanquin_Dark_Bold;
}

p#quote {
  margin-block: 1.5rem;
  max-width: 100%;
  font-size: 2rem;
  font-family: Pacifico-Regular;
  line-height: 50px;
}

p#quote-author {
  font-size: 1.4rem;
  font-family: Pacifico-Regular;
}

.btn {
  transition: background-color 500ms ease, color 500ms ease;
}
.btn:hover {
  background-color: aquamarine;
  color: black;
}
